<div >
  <mat-toolbar color="primary" class="navbar">

    <a href="#"><small>find</small>Builders</a>

    <span class="example-spacer"></span>

    <a routerLink="/home" href="#" mat-button>Home</a>

    <a routerLink="/about" href="#" mat-button>About</a>

    <a routerLink="/category" href="#" mat-button>Category</a>

    <a routerLink="/register" href="#" mat-button>Register</a>

    <a routerLink="/logIn" href="#" mat-button>LogIn</a>

  </mat-toolbar>
</div>
  
<div class="outlet">
  <router-outlet></router-outlet>
</div>
  

